@media screen and (max-width: 420px) {

  .container{
    display: inline-block;
    margin: 70px 0;
  }

  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 80%;
    float: none;
    margin: 0 auto;
  }

  #lezioni .row>.left{
    margin-bottom: 70px;
  }

  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin-bottom: 70px;
  }

}
