@media screen and (max-width: 420px) {

  .row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    float: none;
    width: 100%;
    margin-bottom: 50px;
  }

  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin-bottom: 50px;
  }

  #why hr{
    margin-top: 30px;
  }

  .container img{
    height: 100px;
  }
}
