@media screen and (max-width: 420px) {


  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 80%;
    float: none;
    margin: 0 auto;
  }

  #lezioni .row>.left{
    margin-bottom: 60px;
  }

}
